/* body{
    background-color: yellow;
} */

.form_container{
    border: 2px solid grey;
    padding: 20px;
}

.form{
   border: 1px solid #5a5353; 
}

.form .enteredName{
    border:1px solid grey;
    padding: 15px;
}

.eachLanguage{
    float: left;
    padding: 15px;
    display: flex;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

span{
    color:green;
    font-size: 30px;
}

/*************required field****************/
.none{
    /* display: none; */
}

.requiredFieldError{
    color: #ff0000;
}

.emptyRadioError{
    color:yellow;
}
