/* body{
    background-color: yellow;
} */

.form_container{
    border: 2px solid grey;
    padding: 20px;
}

.form{
   border: 1px solid #5a5353; 
}

.form .enteredName{
    border:1px solid grey;
    padding: 15px;
}

.eachLanguage{
    float: left;
    padding: 15px;
    display: flex;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

span{
    color:green;
    font-size: 30px;
}

/*************required field****************/

.requiredFieldError,
.emptyRadioError{
    color: #ff0000;
    font-size:17px;
}

@media (max-width: 768px) {
    button,
    input{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .eachLanguage{
        float: none;
        padding: 15px;
        display: flex;
    }
}


